In [4]:

import pandas as pd 
import pandas.io.sql as sqlio 
import psycopg2 as ps 
import numpy as np
import bar_chart_race as bcr

batis=pd.read_csv("Data/BATIS.csv")
partneriso=pd.read_csv("Data/partner_iso.csv")

partneriso = partneriso.rename(columns={'partner': 'Partner'})
batis = batis[batis['type_Item'] =="s"]
batis = batis[batis['Item_code'] =="S"]
batis = batis[batis['type_Partner'] =="c"]

exportservices = batis[batis['Flow'] =="EXP"]
importservices= batis[batis['Flow'] =="IMP"]

exportservices = exportservices[['Year','Reporter','Partner','Reported_value', 'Final_value','Balanced_value']]
importservices = importservices[['Year','Reporter','Partner','Reported_value', 'Final_value','Balanced_value']]

exportservices = exportservices[exportservices['Reporter'] =="TUN"]
importservices = importservices[importservices['Reporter'] =="TUN"]

partneriso = partneriso.rename(columns={'partner': 'Partner'})
df_exportservices = pd.merge(exportservices, partneriso,left_on='Partner',  right_on='Partner')
df_importservices = pd.merge(importservices, partneriso,left_on='Partner',  right_on='Partner')

In [5]:
#df.groupby(['groupvar1', 'groupvar2'])['var'].agg(['std', 'median', 'min', 'max', 'sum'])


df_exportservices=df_exportservices[['Year','Balanced_value','partner_name']]
df_importservices=df_importservices[['Year', 'Balanced_value','partner_name']]


###annual trade###
df_exportservices = pd.pivot_table(df_exportservices, index=['Year'], columns=['partner_name'], values=['Balanced_value'])
df_importservices = pd.pivot_table(df_importservices, index=['Year'], columns=['partner_name'], values=['Balanced_value'])

In [6]:
top_partnerx = set()

for index, row in df_exportservices.iterrows():
    top_partnerx |= set(row[row > 0].sort_values(ascending=False).head(15).index)

df_exportservices = df_exportservices[top_partnerx]


top_partnerm = set()

for index, row in df_importservices.iterrows():
    top_partnerm |= set(row[row > 0].sort_values(ascending=False).head(15).index)

df_importservices = df_importservices[top_partnerm]

C:\Users\mehdi\AppData\Local\Temp\ipykernel_1148\397692512.py:6: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_exportservices = df_exportservices[top_partnerx]
C:\Users\mehdi\AppData\Local\Temp\ipykernel_1148\397692512.py:14: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_importservices = df_importservices[top_partnerm]

In [7]:
df_exportservices.index.name = None
df_importservices.index.name = None

df_exportservices.columns = [col[1] for col in df_exportservices.columns]
df_importservices.columns = [col[1] for col in df_importservices.columns]

df_exportservices = df_exportservices.fillna(0).astype(int)
df_importservices = df_importservices.fillna(0).astype(int)

top_partnerx = set()

for index, row in df_exportservices.iterrows():
    top_partnerx |= set(row[row > 0].sort_values(ascending=False).head(15).index)

df_exportservices = df_exportservices[top_partnerx]


top_partnerm = set()

for index, row in df_importservices.iterrows():
    top_partnerm |= set(row[row > 0].sort_values(ascending=False).head(15).index)

df_importservices = df_importservices[top_partnerm]

C:\Users\mehdi\AppData\Local\Temp\ipykernel_1148\905126129.py:15: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_exportservices = df_exportservices[top_partnerx]
C:\Users\mehdi\AppData\Local\Temp\ipykernel_1148\905126129.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_importservices = df_importservices[top_partnerm]

In [8]:
bcr.bar_chart_race(df = df_importservices, 
                   n_bars = 13, 
                   sort='desc',
                   title='TUN services imports from main partners (Data source: BATIS 2021)',
                   perpendicular_bar_func='mean',
                   filename = 'pl_importsservices2_acer.mp4')

c:\Users\mehdi\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
c:\Users\mehdi\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))

In [9]:
bcr.bar_chart_race(df = df_exportservices, 
                   n_bars = 13, 
                   sort='desc',
                   title='TUN services exports from main partners (Data source: BATIS 2021)',
                   perpendicular_bar_func='mean',
                   filename = 'pl_exportsservices2_acer.mp4')

c:\Users\mehdi\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
c:\Users\mehdi\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))

In [10]:
df_exportservices.head(10)

,Spain,United States,Russia,India,Saudi Arabia,United Arab Emirates,Italy,Germany,Switzerland,Czech Republic,...,Libya,China,Poland,Singapore,France,Belgium,Canada,Algeria,Netherlands,Japan
2005,218,172,108,39,84,16,709,547,106,61,...,160,26,79,20,1209,170,30,82,53,47
2006,231,312,124,50,119,18,726,515,113,66,...,164,32,90,38,1295,177,36,80,63,54
2007,277,344,168,58,148,29,897,596,128,70,...,195,30,109,29,1513,222,38,93,77,71
2008,301,430,211,93,176,38,1244,657,145,104,...,258,55,146,30,1767,308,35,116,86,100
2009,211,334,182,64,174,40,953,632,138,77,...,317,57,114,31,1813,280,39,133,81,84
2010,232,342,266,90,171,51,1072,687,139,59,...,310,71,171,26,1765,283,41,141,98,77
2011,204,341,233,65,177,65,667,552,137,66,...,409,107,102,37,1922,240,41,121,65,91
2012,189,470,350,79,184,63,775,647,153,68,...,407,111,91,40,1819,247,44,140,74,94
2013,229,468,464,63,205,61,601,696,165,64,...,454,127,92,49,1805,238,97,142,88,93
2014,220,391,398,81,270,96,513,594,175,67,...,542,164,84,58,1816,229,49,183,74,124