In [1]:
import pandas as pd 
import pandas.io.sql as sqlio 
import psycopg2 as ps 
import numpy as np
import bar_chart_race as bcr

conn2=ps.connect(dbname="postgres",
user="postgres",
password="1234",
host="localhost",
port="5432")

sql="""select * from importdata"""
sql2="""select * from exportdata"""

df=sqlio.read_sql_query(sql,conn2)
df2=sqlio.read_sql_query(sql2,conn2)

df['importvalue'] = df['importvalue'].astype(float)
df2['exportvalue'] = df2['exportvalue'].astype(float)

df['importvalue2'] = df['importvalue']/1000
df2['exportvalue2'] = df2['exportvalue']/1000

df=df[['year','importvalue2','partner']]
df2=df2[['year', 'exportvalue2','partner']]
df = df[df['partner'] != "World"]
df2 = df2[df2['partner'] != "World"]


###annual trade###
df = pd.pivot_table(df, index=['year'], columns=['partner'], values=['importvalue2'])
df2 = pd.pivot_table(df2, index=['year'], columns=['partner'], values=['exportvalue2'])
#del df['World']
#del df2['World']

c:\Users\mehdi\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\mehdi\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [2]:
df.index.name = None
df2.index.name = None

df.columns = [col[1] for col in df.columns]
df2.columns = [col[1] for col in df2.columns]

df = df.fillna(0).astype(int)
df2 = df2.fillna(0).astype(int)

In [3]:
top_partnerm = set()

for index, row in df.iterrows():
    top_partnerm |= set(row[row > 0].sort_values(ascending=False).head(15).index)

df = df[top_partnerm]


top_partnerx = set()

for index, row in df.iterrows():
    top_partnerx |= set(row[row > 0].sort_values(ascending=False).head(15).index)

df2 = df2[top_partnerx]

C:\Users\mehdi\AppData\Local\Temp\ipykernel_14908\3165680591.py:6: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df = df[top_partnerm]
C:\Users\mehdi\AppData\Local\Temp\ipykernel_14908\3165680591.py:14: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df2 = df2[top_partnerx]

In [4]:
bcr.bar_chart_race(df = df, 
                   n_bars = 13, 
                   sort='desc',
                   title='TUN imports from main partners (Data source: ComTrade 2022)',
                   perpendicular_bar_func='mean',
                   filename = 'pl_imports2_acer.mp4')

c:\Users\mehdi\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
c:\Users\mehdi\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
c:\Users\mehdi\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:226: UserWarning: Some of your columns never make an appearance in the animation. To reduce color repetition, set `filter_column_colors` to `True`
  warnings.warn("Some of your columns never make an appearance in the animation. "

In [5]:
bcr.bar_chart_race(df = df2, 
                   n_bars = 13, 
                   sort='desc',
                   title='TUN exports to main partners (Data source: ComTrade 2022)',
                   perpendicular_bar_func='mean',
                   filename = 'pl_exports2_acer.mp4')

c:\Users\mehdi\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
c:\Users\mehdi\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
c:\Users\mehdi\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:226: UserWarning: Some of your columns never make an appearance in the animation. To reduce color repetition, set `filter_column_colors` to `True`
  warnings.warn("Some of your columns never make an appearance in the animation. "

In [8]:
df2.head(10)

,United Kingdom,Sweden,China,Fmr USSR,Libya,Italy,Ukraine,"Areas, nes",Belgium,Norway,...,Russian Federation,Morocco,Turkey,Bulgaria,Malta,Azerbaijan,Spain,Brazil,Egypt,Canada
1991,47471,7774,19958,41191,201695,730106,0,32269,0,2871,...,0,26768,25538,31664,5051,0,135714,5915,11228,4189
1992,72747,8743,28980,0,176032,689590,0,43783,0,2122,...,13960,46050,37126,23745,781,0,110815,12517,7152,963
1993,50368,7198,11286,0,188492,620734,0,72060,0,1618,...,8398,35054,51180,4337,1126,0,96022,6993,6646,876
1994,68822,7872,24847,0,156443,885902,0,115104,0,2736,...,2782,27753,42131,3395,5335,0,216843,16445,16203,2054
1995,81569,10822,31132,0,192377,1021369,2,136965,0,3866,...,1526,26797,33657,5066,4509,0,221488,15749,24535,2142
1996,106352,9530,18550,0,195874,1143377,405,140282,0,2437,...,2371,37529,49353,2719,4383,0,199397,18647,26811,1128
1997,161685,7705,24960,0,257104,1186696,32,169135,0,2380,...,4217,33004,59278,469,3270,0,200064,21600,24043,3050
1998,120566,13690,33490,0,221365,1225883,67,153546,0,4060,...,4595,40176,47855,585,2365,0,199386,23458,26324,8170
1999,100860,18600,29330,0,238016,1308674,1030,154332,333662,3839,...,2223,36175,63773,15837,3744,0,312193,4201,23757,3397
2000,128374,20691,319,0,211158,1346362,4669,213584,296812,4080,...,7108,25412,54857,234,4137,0,317440,29158,34576,5606